
*{

    font-family: 'Roboto', sans-serif;
}

a:link{
    text-decoration: none;
}

/* header*/

.rounded {
    height: 3rem;
    margin: 0px;
    padding: 0px;
}

.dropdown-item:active {
    background-color: black;
    color: blanchedalmond;
}

.nav-link{
    font-size: 1.3rem;
    text-decoration: white underline;
}

@media (max-width:600px)  and (min-width:200px){

    
    .nav-link{
        font-size:0.9rem;
        font-weight: 500;
        text-decoration: white underline;
        color: #06192D;
    }
}

/*service cards*/

.card-img {
    height: 15rem;
    width: 16rem;
    margin:auto;
}

.cards-top {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}   

.card-s {
    height:18rem;
    width:18rem;;
    /* border: 1px  rgb(196, 193, 193); */
    margin:10px;
    /* box-shadow: 3px 3px 3px rgb(100, 100, 100); */
    border:0.1px solid rgb(216, 215, 215);
    box-shadow: 0.1px 1px 4px rgb(170, 168, 168);
    border-radius: 20px;
    
}

.card-s:hover{
    border: 2px solid grey;

}

.card-s-text{
    text-align: center;
    font-size: 1.5rem;
    color:black;
    text-decoration: underline white;
    font-family: 'Roboto', sans-serif;

    
}

.card-s-text:hover{
    text-decoration: underline white;
    color:black;
    font-family: 'Roboto', sans-serif;
}

@media (max-width:600px)  and (min-width:200px){
    .card-s-text{
        text-align: center;
        font-size: 0.9rem;
        color:black;
    text-decoration: underline white;
    font-family: 'Roboto', sans-serif;
        
    }

    .card-s-text:hover{
        text-decoration: underline white;
        color:black;
        font-family: 'Roboto', sans-serif;
    }
}

@media (max-width:600px)  and (min-width:200px){

    .card-img {
    height: 6rem;
    width: 6rem;
    margin: auto;
}


.card-s{
    height:10rem;
    width:10rem;
}
}


/*scrolling cards*/


.scroll-heading{

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    
}
.underline-heading{
    border-top: 3px solid #A60523;
    width: 20%;
    margin: auto;
}

.horizontal-scroll {
    display: block;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;

}

.scroll-container {
    display: block;
    white-space: nowrap;

}

.item {
    display: inline-block;
    margin-right: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 3px;
    box-shadow: 2px 2px 12px rgb(218, 216, 216);
    border-bottom: 1.5px solid rgb(235, 232, 232);  

}
.fa-star{
    color: gold;
}

.item img {
    width: 70rem;
    
    
}

.scroll{       
    margin: auto;
}

.scroll-cap{

    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.scroll-cap{

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: #06192D;
    font-weight: 500;

}
.scroll-cap2{

    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.5rem;
    margin-bottom: 0.3rem;

}
.scroll-cap3{

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    
}




@media (min-width:900px){
    .scroll-heading{

        text-align: center;
        
        font-size: 3rem;

    }
    .underline-heading{
        border-top: 3px solid #A60523;
        width: 20%;
        margin: auto;
    }
    
    .horizontal-scroll {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        flex-wrap: wrap;
        
    }

    .scroll-container {
       
        width: 25%;
    }

    .item {
        display: inline-block;
        margin-right: 5px;
        background-color: #ffffff;
        color: #06192D;
        border-radius: 5px;
        margin-left: 10px;
        box-shadow: 2px 2px 12px rgb(218, 216, 216);
        border-bottom: 1.5px solid rgb(235, 232, 232);
        width: 74%;
    }

    .item img {
        width: 100%;
        height: 10rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .scroll{
        
        margin: auto;
    }

    .scroll-cap{

       
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
        font-weight: 550;

    }
    .scroll-cap2{

        text-align: center;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        margin-bottom: 0.3rem;
    
    }
    .scroll-cap3{
    
        text-align: center;
        white-space: pre-line;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    
    }
    
    
}
@media (max-width:600px) and (min-width:200px) {

    .scroll-heading{

        text-align: center;
        
        font-size: 1.5rem;

    }
    .underline-heading{
        border-top: 3px solid #A60523;
        width: 20%;
        margin: auto;
    }
    
    .horizontal-scroll {
        display: block;
        width: 100%;
        overflow-x: scroll;
        box-sizing: border-box;
    }

    .scroll-container {
        display: block;
        white-space: nowrap;
    }

    .item {
        display: inline-block;
        margin-right: 5px;
        background-color: #ffffff;
        color: #06192D;
        border-radius: 5px;
        margin-left: 10px;
        width: 40%;
        height: 170px;
        box-shadow: 2px 2px 12px rgb(218, 216, 216);
        border-bottom: 1.5px solid rgb(235, 232, 232);
        
        
    }

    .item img {
        width:100%;
        height: 6rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    

    .scroll-cap{

        
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        margin-bottom: 0.3rem;
        font-weight: 550;

    }
    .scroll-cap2{

      
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 0.5rem;
        margin-bottom: 0.7rem;
    
    }
    .scroll-cap3 p{
        font-family: 'Roboto', sans-serif;
        font-size: 0.7rem;
        margin-bottom: 0.3rem;
        white-space: pre-line;
    
    }  

}





/* contact us */
.contactus-details{
    background-image: linear-gradient(180deg,#f5f5f5,#ffffff);
    padding: 1.5rem;
    color: #06192D;
    margin-bottom: 1rem;
}
.cu-detail-item{
    display: flex;
    margin: 1rem;
}
.cu-det-icon{
    margin-right: 1.5rem;
}
.cu-map iframe{
   width: 17rem;
}
.contact-us-form{
    width: 80%;
    margin-left: 10%;
    border: 1px solid rgb(238, 238, 238);
    padding: 1.5rem;
    box-shadow: 1px 1px 2px rgb(241, 241, 241);
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
#contact-submit{
    background: #A60523;
    color: white;
}
   
/* garage info */

    .garage-services {
       
        width: 100%;
        background-color: rgb(192, 238, 247);
        background-image: linear-gradient(-90deg, rgb(192, 238, 247), rgb(177, 230, 243));
        margin-bottom: 1rem;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }

    .services-list {
        display: flex;
        justify-content: space-between;
       
    }
    .services-list-bullets{
        font-size: 2rem;
        margin-bottom: 2rem;
        list-style: none;
    }
    
    .services-list-bullets img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .abt-list{
        color: white;
    }
    @media (max-width:600px)  and (min-width:200px){
        .garage-services {
            
            width: 100%;
            margin: auto;
            margin-bottom: 1rem;
        }
    
        .services-list {
            display: flex;
            margin: 2px;
        }

        .services-list-bullets{
            font-size: 1rem;
            font-weight: 550;
            
           
        }
        .services-list-bullets img{
            width: 1.7rem;
            height: 1.7rem;
        }

    }

    .container-garage-abt{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
        background-color: #A60523;
        background-image: linear-gradient(-90deg, #A60523,#db0e37);
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .garage-abt{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        color: white;
        
    }
    
    @media (max-width:600px)  and (min-width:200px){
        .garage-abt{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
       }
    }
    .contact-nos-garage{
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }


     @media (max-width:600px)  and (min-width:200px){
       
    
    .contact-nos-showroom{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        
    } }


    
/* vehicle info */
    .video-cont {
        display: flex;
        padding: 1rem;
        justify-content: center;

    }

    .video-cont video {

        width: 100%;


    }
.more-videos{
    font-size: 1rem;
}


    @media (max-width:600px)  and (min-width:200px){
       
        .compare-btn-cont {
            display: flex;
            justify-content: center;
            padding: 1rem;
            margin-bottom: 1rem;
            width: 100%;

        }
    }
       
       /* sign in - sign up modal */


    .btn-google {
        color: white;
        background-color: #A60523;
        width: 100%;

        margin-bottom: 10px;
    }

    .btn-facebook {
        color: white;
        background-color: #3b5998;
        width: 100%;

    }


    .offer-item img {
        height: 9rem;
        width: 16rem;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 5px;
    }

    @media (max-width:600px) and (min-width:200px) {
        .offer-item img {
            height: 9rem;
            width: 16rem;
            margin-left: 3px;
            margin-right: 3px;

        }

        #offer1 {
            margin-left: 18px;
        }

        #offer4 {
            margin-right: 18px;
        }
    }


    @media(min-width: 900px) {
        .offer-item img {
            height: 13rem;
            width: 21rem;
            margin-left: 5px;
            margin-right: 5px;
        }

        #offer1 {
            margin-left: 5rem;
        }


    }


    .showroom-item img {
        height: 9rem;
        width: 16rem;
       margin-top: 1rem;
        margin-right: 3px;
        border-radius: 5px;
    }

    @media (max-width:600px) and (min-width:200px) {
        .showroom-item img {
            height: 4rem;
            width: 4rem;          
                    }

        #showroom1 {
           margin-left: 3px;
        }

        #showroom4 {
            margin-right: 3px;
        }
    }


    @media(min-width: 900px) {
        .showroom-item img {
            height: 13rem;
            width: 21rem;
            margin-left: 5px;
            margin-right: 5px;
        }

        #showroom1 {
            margin-left: 5rem;
        }


    }



    
#showroomvehiclecard{

    border: 0.5px solid rgb(245, 245, 245);
    box-shadow: 0.5px 0.5px 3px rgb(230, 229, 229);
  }
  #showroomvehiclecard:hover {
    background-color: rgb(241, 241, 241);
  }
  .carimageshowroom img{
   width:100%;
   height:5rem;
   margin-top:10px;
  }
  .carnameshowroom{
    margin-top:5px;
    width:100%;
  }
  .carnameshowroom h5{
    font-size:0.8rem;
    font-weight:700;
    /* text-align: center; */
    
  }
  .caryear{
  
    width:100%;
  }
  .caryear p{
    margin:0;
  
    font-size:0.8rem;
    /* text-align:center; */
  }
  .variant{
    
    width:100%;
  }
  .variant p{
    margin:3px 0px 0px 0px;
    /* text-align:center; */
    font-size:0.8rem;
  }
  .fueltype p{
    margin:3px 0px 0px 0px;
    /* text-align:center; */
    font-size:0.8rem;
  }
  .cc p{
    margin:3px 0px 0px 0px;
    /* text-align:center; */
    font-size:0.8rem;
  }
  .price h5{
    margin:3px 0px 0px 0px;
    /* text-align:center; */
    font-size:0.8rem;
    font-weight:700;
    margin-bottom: 7px;
  }
  .aboutsh img{
    width:40%;
    /* height:5rem; */
    margin-top:10px;
    margin-left:40px;
   }
   .aboutsh p{
       text-align:center;  
   }
   #colsh1{
      margin:0;
   }
#colsh1 p{
    margin-top: 0.3rem;
    font-size: 0.8rem;
    font-weight: 600;
}
   #colsh2 p{
      font-size:0.7rem;
      margin-top: 0.4rem;
      font-weight: 600;
   }
   #colsh2 h5{
    font-size:0.8rem;
    font-weight:600;
    text-align:center;  
   } 
#colsh3 .fa-star{
    margin-top: 0.4rem;
    font-size: 0.8rem;
}
   #colcont1{
       font-size:2.5rem;
   }
   #colcont2{
    font-size:2.5rem;
   }



   .contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(90deg,rgb(46, 46, 46),rgb(32, 32, 32));
    color: white;
  }
    .contact h3 {
        font-weight: 600;
        font-size:0.9rem;
        text-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
    .contact p {
        font-weight: 300;
        font-size: 0.8rem;
        
    }

    
.searchbox2 {
    height: 3rem;
    width: 6rem;
    max-width: 100%;
    background: white;
    border-radius: 3px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
  }
  .s{
    width: 750px;
  }
  .searchbox2 > .btn-menu {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .searchbox2 > .search {
    border: none;
    width: 100%;
  }
  .searchbox2 > .btn-search {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  #search::placeholder{
      margin-left: 1rem;
      font-size: 0.8rem;
  }
  .sv{
    width: 93%;
    margin-bottom:30px;
    margin-top:30px;
    box-shadow: 0 4px 5px 0 rgba(158, 158, 158, 0.2), 0 6px 20px 0 rgba(138, 137, 137, 0.19);
    }

    .nearby2 img{
        margin-top: -1rem;
    }
    @media(min-width:900px){

.nearby2 img{
    width: 1.2rem;
    margin-top: -1.9rem;
}
    }

    

#vehimagecol img{
    width:100%;
    margin-top:30px;
  }
  
  
  .vehname h5{
    margin:8px 0px 0px 0px;
    font-size:1rem;
    font-weight:700;
  }
  .modalveh p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  .vehyr p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  .petrolordiesel p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  .enginecc p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  
  .ratingsveh p{
    margin:2px 0px 0px 0px;
    font-size:0.9rem;
  }
  .vehprice h5{
    margin:5px 0px 8px 0px;
    font-size:1rem;
    font-weight: 700;
    margin-bottom:10px;
  }
  #vehcards{
    border-top: 1.5px solid rgb(240, 239, 239);
    border-bottom:1.5px solid rgb(240, 239, 239);
    box-shadow: 0.5px 0.5px 3px rgb(240, 239, 239);
  }
  #review{
  
    margin-bottom: 10px;
    border-top: 1px solid rgb(255, 255, 255);
    margin-top:6px;
    border-bottom: 2px solid rgb(235, 232, 232);
    box-shadow: 1px 1px 2px rgb(232, 240, 241);
  }
  #customerrev h3{
     font-weight:600;
     font-size:1.4rem;
     margin:10px 0px 0px 10px;
  }
  #customerrev2 p{
    font-weight:700;
    margin:10px 0px 0px 0px;
  }
  #customerrev3 p{
    font-size:1rem;
    margin:10px 0px 10px 0px;
  }
  #customerrev4 p{
   float:Right;
   font-size:25px;
  }
  .topreviews{
    margin-bottom: 10px;
  
  
    border-bottom: 2px solid rgb(235, 232, 232);
  }
  .topreviews h5{
    font-weight:650;
    font-size:1rem;
    margin:10px 0px 0px 0px;
  }
  .topreviews span{
     font-size: 0.7rem;
     margin:0px 0px 0px 0px;
  }
  #ctime{
    font-size:0.6rem;
    margin:-12px 0px 0px 0px;
  }
  #comment{
    font-size:0.8rem;
    margin:5px 0px 10px 0px;
  }
  #ndc{
    border-top: 2px solid rgb(235, 232, 232);
  }


  /* register garage , showroom , service center vector and info page */

  .reg-eservice-head{
      display: flex;
      justify-content: center;
      margin-left: 5%;
      width: 90%;
  }
  .reg-eservice-head img {

    height: 30%;
    position: relative;
    animation: zoomvector 4s 1;
}

@keyframes zoomvector {
    from {
       
        width: 5rem;
    }

    to {
       
        width: 100%;
    }
}

.provide-cont {

    margin-bottom: 1rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.provide-item {
    display: flex;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 1px 1px 2px lightgrey;
    width: 90%;
    padding: 5px;
    margin-left: 2rem;
    margin-bottom: 1rem;
    /* background-image: linear-gradient(-90deg, rgb(185, 241, 245), rgb(255, 255, 255)); */

}

.provide-img {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    margin-left: -45px;
    margin-right: 2rem;
    padding: 1rem;
}

.provide-img img {
    height: 2rem;
    width: 2rem;
}

.provide-txt {
    margin-top: 1.5rem;
}

.provide-txt span {
    font-size: 0.8rem;
}


/* owner pages */

.already-reg-button {
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 5rem;
}

.already-reg {
    display: flex;
    justify-content: center;
    width: 99%;

}

.already-reg-item {
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 1px 1px 5px rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-image: linear-gradient(-180deg,white,rgb(31, 95, 168),rgb(31, 95, 168),#06192D);  */
    border-radius: 5px;
    width: 85%;

}


.already-img-item {

    width: 96%;
    margin: 0.4rem;
    margin-left: 2%;
    display: flex;
    justify-content: center;

}

.already-img-item img {

    width: 100%;
    height: 7rem;
    border-radius: 4px;
}

.already-reg-status {
    color: rgb(88, 172, 0);
    font-weight:700;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.already-reg-name {
    font-weight: 600;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.already-reg-status p {
    margin: 2px;
}

.already-reg-address {
    margin-left: 1rem;
    font-size: 0.8rem;
    color: grey;
}

.already-reg-rating {
    margin-left: 1rem;

}

.already-reg-brand img{
    margin: 1rem;
    margin-top: 0rem;
    height: 2rem;
    width: 2rem;
}


/* servicing page --nearby showrooms list */

.showroom-near-card{
    display: flex;
    margin: 0.2rem;
    flex-direction: column;
    margin-bottom: 1.8rem;
    box-shadow: 1px 1px 3px lightgrey;
    padding: 0.2rem;
    padding-left: 0;
}

@media(min-width:900px)
{
    .showroom-near-card{
        width: 40%;
        margin-left: 30%;
        padding-bottom: 1rem;
    }
}

.showroom-near-card-1 {
    display: flex;
}
.showroom-near-details{
    padding: 0.2rem;
    padding-bottom: 0;
    width:50%;
}
.showroom-near-img{
    width: 48%;
    height: 7rem;
    margin-right: 0.4rem;
   
}
.showroom-near-img img{
    width: 100%;
    height:7rem;
    border-radius: 2px;
   
}
.showroom-near-brand img{
    margin-top: -1.2rem;
    height: 2.2rem;
    width: 2.2rem;
}
.showroom-near-name{
    font-size: 0.8rem;
   
    font-weight: 600;
   
}
.showroom-near-km p{
    font-size: 0.9rem;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    color: #616161;
    font-weight: 600;
}

.showroom-near-address p{
    padding: 0;
    font-size: 0.7rem;
    color: rgb(87, 87, 87);
    margin-bottom: 0.2rem;
   
}
.ratings-showroom-near{
    display: flex;
    flex-direction: row;
    float:right;
    width: 2.3rem;
    height: 1.3rem;
    
}
.ratings-showroom-near span{
    background-color: rgb(88, 172, 0);
    padding: 0.1rem;
    text-align: center;
    margin-top: 0rem;
    width: 100%;
    font-size: 0.6rem;
    border: 1px solid white;
    border-radius: 10%;
    color: white;
    font-weight: 600;
    padding-bottom: 0;
}


/* nearby garages */


.garage-near-card{
    display: flex;
    margin: 0.2rem;
    flex-direction: column;
    margin-bottom: 1.8rem;
    box-shadow: 1px 1px 3px lightgrey;
    padding: 0.2rem;
    padding-left: 0;
}

@media(min-width:900px)
{
    .garage-near-card{
        width: 40%;
        margin-left: 30%;
        padding-bottom: 1rem;
    }
}
@media(min-width:900px)
{
    .grnear-card{
        width: 100%;
        margin-left: 0;
        padding-bottom: 1rem;
    }
}

.garage-near-card-1 {
    display: flex;
}
.garage-near-details{
    padding: 0.2rem;
    padding-bottom: 0;
    width:50%;
}
.garage-near-img{
    width: 48%;
    height: 7rem;
    margin-right: 0.4rem;
   
}
.garage-near-img img{
    width: 100%;
    height:7rem;
    border-radius: 2px;
   
}

.garage-near-name{
    font-size: 0.9rem;
    font-weight: 600;
}
.garage-near-km p{
    font-size: 0.9rem;
    margin-top: -0.7rem;
    margin-bottom: 0.3rem;
    color: #363636;
    font-weight: 600;
}

.garage-near-address p{
    padding: 0;
    font-size: 0.8rem;
    color: rgb(87, 87, 87);
    margin-bottom: 0.2rem;
   
}


/* garage info page */

.garage-services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#garage-service-item{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0.2rem;
    text-align: center;
}

#garage-service-item img{
    height: 3.3rem;
    width: 3.3rem;
}

#garage-service-item-cap span{
    text-align: center;
    color: #06192D;
   }

#garage-service-item-cap{
    margin-top: 0.3rem;

}

#grtxt-align p{
    text-align: left;
}

/* emergency info  */
.es-steps{
    margin-top: 2rem;
}
.esteps-item {
    border-top-right-radius: 10px;
    display: flex;
    border: 1px solid rgb(223, 223, 223);
    border-bottom: 4px solid #A60523;
    width: 100%;
    height: 6rem;
    margin: 0px 0px 1rem 0px;
    /* background-image: linear-gradient(-90deg, rgb(185, 241, 245), rgb(255, 255, 255)); */
    padding:2px;
}

.esteps-img {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 1px 1px 6px lightgrey;
    margin-left: 1rem;
    margin-right: -3rem;
    margin-top: -2rem;
    padding: 0.5rem;
    height: 4rem;
    width: 4rem;
}

.esteps-img img {
    height: 3rem;
    width: 3rem;
}

.esteps-txt {
    margin-top: 3.4rem;
    margin-left: -1.8rem;
    
}

.esteps-txt span {
    font-size: 0.7rem;
    font-weight: 600;
    color: #06192D;
   
}
.esteps-txt p{
    margin-bottom: 0;
}

#es-timeline1{
    border-left: 4px solid rgb(197, 197, 197);
    animation: timeline-es1 1s;
    animation-fill-mode: forwards; 
}
#es-timeline2{
    border-right: 4px solid rgb(197, 197, 197);
    animation: timeline-es2 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards; 
}
#es-timeline3{
    border-left: 4px solid rgb(197, 197, 197);
    animation: timeline-es3 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards; 
}
#es-timeline4{
    border-right: 4px solid rgb(197, 197, 197);
    animation: timeline-es4 2s;
    animation-delay: 6s;
    animation-fill-mode: forwards; 
}
#es-timeline5{
    border-left: 4px solid rgb(197, 197, 197);
    animation: timeline-es5 2s;
    animation-delay: 8s;
    animation-fill-mode: forwards; 
}

@keyframes timeline-es1 {
   
from{
    border-left: 4px solid rgb(197, 197, 197);
}
to{
    border-left: 4px solid rgb(54, 54, 54);
}
}

@keyframes timeline-es2 {
   
    from{
        border-right: 4px solid rgb(197, 197, 197);
    }
    to{
        border-right: 4px solid rgb(54, 54, 54);
    }
    }

    @keyframes timeline-es3 {
   
        from{
            border-left: 4px solid rgb(197, 197, 197);
        }
        to{
            border-left: 4px solid rgb(54, 54, 54);
        }
        }

        @keyframes timeline-es4 {
   
            from{
                border-right: 4px solid rgb(197, 197, 197);
            }
            to{
                border-right: 4px solid rgb(54, 54, 54);
            }
            }

        @keyframes timeline-es5 {
   
                from{
                    border-left: 4px solid rgb(197, 197, 197);
                }
                to{
                    border-left: 4px solid rgb(54, 54, 54);
                }
                }

#es-card1{
    animation: es-1card 1s;
}
#es-card2{
    animation: es-2card 1s;
    animation-delay: 2s;
}
#es-card3{
    animation: es-3card 1s;
    animation-delay: 4s;
}
#es-card4{
    animation: es-4card 1s;
    animation-delay: 6s;
}
#es-card5{
    animation: es-5card 1s;
    animation-delay: 8s;
}
@keyframes es-1card {
   
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}
@keyframes es-2card {
   
        from{
            transform: rotate(-10deg);
        }
        to{
            transform: rotate(10deg);
        }
}
@keyframes es-3card {
   
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}
@keyframes es-4card {
   
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}
@keyframes es-5card {
   
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}

#es-stepno-left{
   margin-left: -1.9rem;
   background-color: #A60523;
   border: 2px solid white;
   border-radius: 50%;
   color: white;
   padding: 0.1rem;
   padding-left: 0.4rem;
   padding-right: 0.4rem;
}

#es-stepno-right{
    margin-left: 104%;
    background-color: #A60523;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    padding: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    
 }
 
 @media (max-width:900px)  and (min-width:600px){
    #es-stepno-right{
        margin-left: 103%;
       
     } 
 }
 @media(min-width:900px){
    #es-stepno-right{
        margin-left: 101%;
       
     } 
 }

 /* profile edit */
 .edit-profile{
    
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
    
     border: 2px solid lightgrey;
     box-shadow: 1px 1px 7px lightgrey;
     border-radius: 8px;
     padding: 1rem;
     padding-top: 2rem;
     margin-bottom: 1rem;
 }
 @media (max-width:900px)  and (min-width:600px){
    .edit-profile{
        width: 60%;
     margin-left: 20%;
     margin-right: 20%
     } 
 }
 @media(min-width:900px){
    .edit-profile{
        width: 40%;
     margin-left: 30%;
     margin-right: 30%
     } 
 }
 #prof-ip{
    padding: 1.4rem;
 }
 .r-btn{
     border: 1px solid rgb(218, 218, 218);
     border-radius: 4px;
 }
 #basic-addon1 img{
     height: 24px;
     width: 24px;
     margin-top: -2.4rem;
     margin-left: 85%;
 }
 @media(min-width:900px){
    #basic-addon1 img{
        margin-left: 90%;
    }
 }


 /* about us page */


.about-us-img img {
 
    width: 100%;
    height: 15rem;
   
}
@media(min-width:900px){
    .about-us-img img {
      
        height: 32rem;
       
    } 
}

.aboutus-intro{
  
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
    border: 1px solid rgb(236, 236, 236);
    box-shadow: 1px 1px 3px lightgrey;
    text-align: center;
   
}
.aboutus-values{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.abt-value{
    width: 46%;
    text-align: center;
    margin: 2%;
}
.abt-value-img img{
    height: 3rem;
    width: 3rem;
}
.abt-value-text1 h5{
  font-weight: 600;
}
.abt-value-text2 p{
    font-size: 0.8rem;
   
  }

@media(min-width:900px){
    .abt-value{
        width: 30%;
        margin: 1.5%;
    }
    .abt-value-text2 p{
        font-size: 1rem;
        margin-left: 15%;
        width: 70%;
      }
}



.row-team{
    display: flex;
    justify-content: center;
}

.col-team{
    border: 1px solid rgb(241, 241, 241);
    border-radius: 5px;
    margin: 1rem;
    box-shadow: 1px 1px 4px rgb(226, 226, 226);
    padding: 10px;
    width: 25%;
    

}
.img-team{
   margin-top: -5rem;
    text-align: center;
   
}
.img-team img{
   
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
 
    
}
.name-team{
    text-align: center;
}
.title-team{
    color: grey;
    text-align: center;
}
.email-team{
    margin-top: 0.7rem;
    text-align: center;
}
.team-btn{
    margin-top: 0.7rem;
}

.contact-btn{
    width: 70%;
    margin-left: 15%;
    background-color: #A60523;
    border: 2px solid #A60523;
    color: white;
}

.profbg-img img{
    height: 8rem;
    width: 100%;
}
@media (max-width:600px)  and (min-width:200px){
  
.row-team{
    flex-direction: column;      
}

.col-team{
   margin-left: 10%;
    width: 80%; 
}
}




/* about us owl carousel */
 .comments-show-o{
    box-sizing: border-box;
   }
   .wrapper-o{
     width: 100%;
     box-sizing: border-box;
   }
   .carousel-o{
     max-width: 1200px;
     margin: auto;
     padding: 0 20px;
   }
   .carousel-o .card{
     color: rgb(39, 39, 39);
     text-align: center;
     margin: 10px 0;
     margin-right: 0;
     height: 250px;
     font-size: 0.6rem;
     border-radius: 5px;
     border: 1px solid rgb(241, 241, 241);
     box-shadow: 1px 1px 8px rgb(241, 241, 241);
     box-sizing: border-box;
   }
   .carousel-o .card-1{
     background: #ffffff;
   }
   .carousel-o .card-2{
     background: #ffffff;
   }
   .carousel-o .card-3{
     background: #ffffff;
   }
   .carousel-o .card-4{
     background: #ffffff;
   }
   .carousel-o .card-5{
     background: #ffffff;
   }
   
#ctime-o{
    margin-top: 0.5rem;

}   
#comment-o{
   margin: 0.5rem;
   margin-top: 1rem;
   text-align: center;
}

/* workwith us garage form  */

.workwithus-grg{
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 1px 1px 4px rgb(238, 238, 238);
    width: 94%;
    margin-top: 1rem;
    margin-left: 3%;
    padding: 1.5rem 1rem 1.5rem 1rem;
}


#addmoref-btn{
width: 50%;
margin-left: 25%;
margin-top: 1rem;
margin-bottom: 1rem;
}
#reg-grg-btn{
width: 50%;
margin-left: 25%;
margin-top: 1rem;
margin-bottom: 1rem;
background-color: #A60523;
color: white;
}
#min6-pic{
    color: #f11c43;
}

#checkbox-days {
    height: 15px;
    width: 15px;
    border: 1px solid lightgrey;
    border-radius: 0;
    padding-left: 15px;
    font-size: 10px;
    margin: 10px;
    color: grey;
}

.field-checkbox {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
   
}

.field-checkbox span {
    width: 60px;
    margin-left: 1px;
    margin-top: 0.5rem;
    text-align: start;
    font-size: 13px;
    color: rgb(92, 92, 92);
}

@media(min-width:900px){
    .workwithus-grg{
        width: 60%;
        margin-left: 20%;
    }  
    #addmoref-btn{
        width: 20%;
        margin-left: 40%;
       
    }
    #reg-grg-btn{
        width: 20%;
        margin-left: 40%;
        
    }
}




/* offer cards owl carousel */

.offer-oc{
    box-sizing: border-box;
   }
   .wrapper-o{
     width: 100%;
     box-sizing: border-box;
     z-index: 1;
     
   }
   .carousel-oc{
     max-width: 1200px;
     margin: auto;
     padding: 0 10px;
     padding-top: 0;
     padding-bottom: 0;
   }
   .carousel-oc .card{
     margin: 20px 0;
     height: 9rem;
     box-sizing: border-box;
     border: 2px solid rgb(255, 255, 255);
     border-radius: 5px;
   }
   .carousel-oc .card img{
     border-radius: 5px;
     height: 9rem;
   }
  
   .owl-dots{
    text-align: none;
     margin-top: 0px;
   }
   .owl-dot{
     height: 10px;
     width: 10px;
     margin: 0 5px;
    
     outline: none;
     border-radius: 14px;
     border: 2px solid #A60523!important;
     box-shadow: 0px 4px 5px rgb(236, 236, 236);
     transition: all 0.3s ease-in;
   }
   .owl-dot.active,
   .owl-dot:hover{
     background: #A60523!important;
   }










/*footer*/

.footer{
    display:flex;
    left:0;
    bottom:0;
    width: 100%;
    position: fixed;
    flex-direction: column;
    background-color: #06192D;
    color:white;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}
.footer2{
    display:flex;
    left:0;
    bottom:0;
    width: 100%;
    flex-direction: column;
    background-color: #06192D;
    color:white;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.footer-item{
margin:auto;
}
@media (max-width:780px){
.footer{
    display: none;
}
.footer2{
    display: none;
}
}

#div-spacer{
    margin-bottom:80px;
}

/* mobile bottom navbar */

.nav-mob {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    z-index: 2;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 14px;
    color: #06192D;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
    color: #A60523;
}


.nav__link--active{
    color: #A60523;
}
.nav__icon {
    font-size: 20px;
}
.nav__icon__logo img{
    height: 50px;
    width: 50px;
}
.nav__icon__logo{
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 2px 2px 7px lightgrey;
    border-radius:10px;
}